In [1]:
import geopandas as gpd
import pandas as pd

In [2]:
shp_kabkota = gpd.read_file('kab_20201_byindo.shp')
shp_kabkota['idkab'] = shp_kabkota['idkab'].astype(int)

shp_kabkota

,fid,idkab,nmprov,nmkab,kdprov,kdkab,sumber,periode,geometry
0,1.0,1101,ACEH,SIMEULUE,11,01,BPS,2020_1,"MULTIPOLYGON (((95.39021 2.97662, 95.38562 2.9..."
1,142.0,1102,ACEH,ACEH SINGKIL,11,02,BPS,2020_1,"MULTIPOLYGON (((97.11598 2.11349, 97.12953 2.1..."
2,262.0,1103,ACEH,ACEH SELATAN,11,03,BPS,2020_1,"POLYGON ((96.94234 3.57418, 96.94569 3.58403, ..."
3,522.0,1104,ACEH,ACEH TENGGARA,11,04,BPS,2020_1,"POLYGON ((97.46701 3.27324, 97.46707 3.27606, ..."
4,919.0,1105,ACEH,ACEH TIMUR,11,05,BPS,2020_1,"POLYGON ((97.41466 4.17882, 97.41293 4.17967, ..."
...,...,...,...,...,...,...,...,...,...
512,83566.0,9433,PAPUA,PUNCAK,94,33,BPS,2020_1,"POLYGON ((137.61766 -3.11210, 137.53431 -3.179..."
513,83772.0,9434,PAPUA,DOGIYAI,94,34,BPS,2020_1,"POLYGON ((135.03850 -3.98878, 135.04557 -3.989..."
514,83851.0,9435,PAPUA,INTAN JAYA,94,35,BPS,2020_1,"POLYGON ((136.34444 -3.37736, 136.37516 -3.361..."
515,83948.0,9436,PAPUA,DEIYAI,94,36,BPS,2020_1,"POLYGON ((136.09456 -4.25428, 136.09006 -4.243..."
516,84015.0,9471,PAPUA,JAYAPURA,94,71,BPS,2020_1,"MULTIPOLYGON (((140.63218 -2.71613, 140.63126 ..."

In [3]:
shp_kabkota.columns

Index(['fid', 'idkab', 'nmprov', 'nmkab', 'kdprov', 'kdkab', 'sumber',
       'periode', 'geometry'],
      dtype='object')

In [6]:
shp_kabkota_df = shp_kabkota[['idkab', 'nmprov', 'nmkab', 'kdprov', 'kdkab']]
shp_kabkota_df = shp_kabkota_df[shp_kabkota_df['kdkab'] != '88'].reset_index(drop=True)
shp_kabkota_df

     idkab nmprov          nmkab kdprov kdkab
0     1101   ACEH       SIMEULUE     11    01
1     1102   ACEH   ACEH SINGKIL     11    02
2     1103   ACEH   ACEH SELATAN     11    03
3     1104   ACEH  ACEH TENGGARA     11    04
4     1105   ACEH     ACEH TIMUR     11    05
..     ...    ...            ...    ...   ...
509   9433  PAPUA         PUNCAK     94    33
510   9434  PAPUA        DOGIYAI     94    34
511   9435  PAPUA     INTAN JAYA     94    35
512   9436  PAPUA         DEIYAI     94    36
513   9471  PAPUA       JAYAPURA     94    71

[514 rows x 5 columns]

In [7]:
shp_kabkota_df.to_csv('Data Kabkota BPS.csv', index = False)

In [6]:
def get_kota(kd):
    kd = str(kd)[0]
    if kd == '7':
        aa = 'KOTA'
    else:
        aa = ''

    return aa

shp_kabkota['klas'] = shp_kabkota['kdkab'].apply(get_kota)
shp_kabkota['nmkab'] = shp_kabkota['nmkab'] + ' ' + shp_kabkota['klas']

shp_kabkota

,fid,idkab,nmprov,nmkab,kdprov,kdkab,sumber,periode,geometry,klas
0,1.0,1101,ACEH,SIMEULUE,11,01,BPS,2020_1,"MULTIPOLYGON (((95.39021 2.97662, 95.38562 2.9...",
1,142.0,1102,ACEH,ACEH SINGKIL,11,02,BPS,2020_1,"MULTIPOLYGON (((97.11598 2.11349, 97.12953 2.1...",
2,262.0,1103,ACEH,ACEH SELATAN,11,03,BPS,2020_1,"POLYGON ((96.94234 3.57418, 96.94569 3.58403, ...",
3,522.0,1104,ACEH,ACEH TENGGARA,11,04,BPS,2020_1,"POLYGON ((97.46701 3.27324, 97.46707 3.27606, ...",
4,919.0,1105,ACEH,ACEH TIMUR,11,05,BPS,2020_1,"POLYGON ((97.41466 4.17882, 97.41293 4.17967, ...",
...,...,...,...,...,...,...,...,...,...,...
512,83566.0,9433,PAPUA,PUNCAK,94,33,BPS,2020_1,"POLYGON ((137.61766 -3.11210, 137.53431 -3.179...",
513,83772.0,9434,PAPUA,DOGIYAI,94,34,BPS,2020_1,"POLYGON ((135.03850 -3.98878, 135.04557 -3.989...",
514,83851.0,9435,PAPUA,INTAN JAYA,94,35,BPS,2020_1,"POLYGON ((136.34444 -3.37736, 136.37516 -3.361...",
515,83948.0,9436,PAPUA,DEIYAI,94,36,BPS,2020_1,"POLYGON ((136.09456 -4.25428, 136.09006 -4.243...",
516,84015.0,9471,PAPUA,JAYAPURA KOTA,94,71,BPS,2020_1,"MULTIPOLYGON (((140.63218 -2.71613, 140.63126 ...",KOTA

In [7]:
data_vul = pd.read_csv('vulnerability_index.csv')
data_vul = data_vul[['kab_code', 'expo_index', 'sensi_index', 'adap_index', 'vul_idx']]
data_vul['kab_code'] = data_vul['kab_code'].astype(int)

data_vul

     kab_code  expo_index  sensi_index  adap_index   vul_idx
0        1101   13.565477    18.580649   47.810125 -0.309080
1        1102    8.771773     9.293689   44.671435 -0.459904
2        1103   22.689476    10.971251   47.071633 -0.378229
3        1104   13.878962    10.556688   45.716302 -0.420660
4        1105   33.086080     8.470443   40.462589 -0.225540
..        ...         ...          ...         ...       ...
509      9433   17.474498    25.173993   14.085686  0.503324
510      9434    5.660100    19.175174   13.795967  0.311719
511      9435    4.289125    23.617572   11.479067  0.433075
512      9436    0.899832    19.855065   19.674597  0.177160
513      9471    1.211041     9.608815   51.401209 -0.637464

[514 rows x 5 columns]

In [14]:
# MERGE SHP
desa_map_join = shp_kabkota.merge(data_vul, left_on='idkab', right_on='kab_code', how='left')
desa_map_join = desa_map_join[['idkab', 'nmprov', 'nmkab', 'kdprov', 'kdkab', 'geometry', 'expo_index', 'sensi_index', 'adap_index', 'vul_idx']]

desa_map_join.to_file("Merge/result.shp", index=False)

desa_map_join

C:\Users\SATRIA\AppData\Local\Temp\ipykernel_7140\1098885284.py:5: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  desa_map_join.to_file("Merge/result.shp", index=False)

,idkab,nmprov,nmkab,kdprov,kdkab,geometry,expo_index,sensi_index,adap_index,vul_idx
0,1101,ACEH,SIMEULUE,11,01,"MULTIPOLYGON (((95.39021 2.97662, 95.38562 2.9...",13.565477,18.580649,47.810125,-0.309080
1,1102,ACEH,ACEH SINGKIL,11,02,"MULTIPOLYGON (((97.11598 2.11349, 97.12953 2.1...",8.771773,9.293689,44.671435,-0.459904
2,1103,ACEH,ACEH SELATAN,11,03,"POLYGON ((96.94234 3.57418, 96.94569 3.58403, ...",22.689476,10.971251,47.071633,-0.378229
3,1104,ACEH,ACEH TENGGARA,11,04,"POLYGON ((97.46701 3.27324, 97.46707 3.27606, ...",13.878962,10.556688,45.716302,-0.420660
4,1105,ACEH,ACEH TIMUR,11,05,"POLYGON ((97.41466 4.17882, 97.41293 4.17967, ...",33.086080,8.470443,40.462589,-0.225540
...,...,...,...,...,...,...,...,...,...,...
512,9433,PAPUA,PUNCAK,94,33,"POLYGON ((137.61766 -3.11210, 137.53431 -3.179...",17.474498,25.173993,14.085686,0.503324
513,9434,PAPUA,DOGIYAI,94,34,"POLYGON ((135.03850 -3.98878, 135.04557 -3.989...",5.660100,19.175174,13.795967,0.311719
514,9435,PAPUA,INTAN JAYA,94,35,"POLYGON ((136.34444 -3.37736, 136.37516 -3.361...",4.289125,23.617572,11.479067,0.433075
515,9436,PAPUA,DEIYAI,94,36,"POLYGON ((136.09456 -4.25428, 136.09006 -4.243...",0.899832,19.855065,19.674597,0.177160
516,9471,PAPUA,JAYAPURA KOTA,94,71,"MULTIPOLYGON (((140.63218 -2.71613, 140.63126 ...",1.211041,9.608815,51.401209,-0.637464

In [20]:
desa_map_join

,fid,idkab,nmprov,nmkab,kdprov,kdkab,sumber,periode,geometry,kab_code,expo_index,sensi_index,adap_index,vul_idx
0,1.0,1101,ACEH,SIMEULUE,11,01,BPS,2020_1,"MULTIPOLYGON (((95.39021 2.97662, 95.38562 2.9...",1101.0,13.565477,18.580649,47.810125,-0.309080
1,142.0,1102,ACEH,ACEH SINGKIL,11,02,BPS,2020_1,"MULTIPOLYGON (((97.11598 2.11349, 97.12953 2.1...",1102.0,8.771773,9.293689,44.671435,-0.459904
2,262.0,1103,ACEH,ACEH SELATAN,11,03,BPS,2020_1,"POLYGON ((96.94234 3.57418, 96.94569 3.58403, ...",1103.0,22.689476,10.971251,47.071633,-0.378229
3,522.0,1104,ACEH,ACEH TENGGARA,11,04,BPS,2020_1,"POLYGON ((97.46701 3.27324, 97.46707 3.27606, ...",1104.0,13.878962,10.556688,45.716302,-0.420660
4,919.0,1105,ACEH,ACEH TIMUR,11,05,BPS,2020_1,"POLYGON ((97.41466 4.17882, 97.41293 4.17967, ...",1105.0,33.086080,8.470443,40.462589,-0.225540
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,83566.0,9433,PAPUA,PUNCAK,94,33,BPS,2020_1,"POLYGON ((137.61766 -3.11210, 137.53431 -3.179...",9433.0,17.474498,25.173993,14.085686,0.503324
513,83772.0,9434,PAPUA,DOGIYAI,94,34,BPS,2020_1,"POLYGON ((135.03850 -3.98878, 135.04557 -3.989...",9434.0,5.660100,19.175174,13.795967,0.311719
514,83851.0,9435,PAPUA,INTAN JAYA,94,35,BPS,2020_1,"POLYGON ((136.34444 -3.37736, 136.37516 -3.361...",9435.0,4.289125,23.617572,11.479067,0.433075
515,83948.0,9436,PAPUA,DEIYAI,94,36,BPS,2020_1,"POLYGON ((136.09456 -4.25428, 136.09006 -4.243...",9436.0,0.899832,19.855065,19.674597,0.177160
516,84015.0,9471,PAPUA,JAYAPURA,94,71,BPS,2020_1,"MULTIPOLYGON (((140.63218 -2.71613, 140.63126 ...",9471.0,1.211041,9.608815,51.401209,-0.637464